/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
.wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 10px;
}
.header{
 height: 150px;
 background-color: green;
 margin: 5px;
}
.navigation{
 height: 300px;
 width: 22%;
 background-color: blue;
 display: inline-block;
 vertical-align: top;
}
.main_content{
 width: 73%;
 background-color: red;
 display: inline-block;
 padding: 10px;
 background-position: right;
}
.subcontents{
 height: 200px;
 width: 30%;
 background-color: yellow;
 display: inline-block;
 vertical-align: top ;
 margin: 5px;
}
.advertisement{
 height: 120px;
 width: 100%;
 background-color: purple;
 display: inline-block;
 margin: 10px 0px;
}
@media only screen and (max-width: 480px){
	.main_content{
		width: 100%;
	}
	.subcontents{
		width: 100%;
	}
	.navigation{
		display: none;
	}
}
@media only screen and (min-width: 481px){
	.navigation{
		display: none;
	}
	.subcontents{
		display: inline block;
		width: 40%;
	}
	.navigation{
		display: none;
	}
	.main_content{
		width: 100%;
	}
}
@media only screen and (min-width: 1024px){
	.navigation{
		display: inline-block;
	}
	.main_content{
		display: inline-block;
		width: 73%;
	}
	.subcontents{
		width: 30%;
	}
}